APP_NAME=Estelya
APP_ENV=development

DB_URL=jdbc:postgresql://localhost:5432/estelya
DB_USERNAME=estelya_app
DB_PASSWORD=CHANGE_ME

SERVER_PORT=8080

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=estelya
RABBITMQ_PASSWORD=CHANGE_ME

N8N_HOST=localhost
N8N_PORT=5678

FRONTEND_PORT=3000
